body {
    background-color: aliceblue;
}

body, p {
    color: rgb(6, 92, 72);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    list-style-type:none;
}

ol {
    padding-left: 20px; 
}

ul, li, h4 {
    color: rgb(47, 5, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ol, li {
    color: rgb(6, 92, 72);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.intro {
    text-align: center;
    padding: 30px;
}

.header {
    text-align: center;
    font-family: cursive;
}

.welcome:hover {
    text-shadow:none;
}

.header:hover {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

iframe {
    width: 100%;
    height: 870px;
}

.tableauViz{
    margin:0 auto;
}

img {
    max-width: 100%;
}